<div class="cardBox">
    <div class="card">
        <div class="card_numbers">{{robos|length}}</div>
        <div class="card_title"><p>Total de Robôs</p></div>
    </div>
    <div class="card">
        <div class="card_numbers">0</div>
        <div class="card_title"><p>Com Falhas</p></div>
    </div>
    <div class="card">
        <div class="card_numbers">0</div>
        <div class="card_title"><p>Em Manutenção</p></div>
    </div>
    <div class="card">
        <div class="card_numbers">0</div>
        <div class="card_title"><p>Em Desenvolvimento</p></div>
    </div>
</div>